
p, li{
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    font-family: 'Dancing Script', cursive;
}

h1{
    color: red;
    font-size: 40px;
    text-align: left;
    font-family: 'Pacifico', cursive;
}

footer{
    padding: 10px;
    text-align: right;
    color: palevioletred;
    font-size: 20px;
    font-family: 'Stalemate', cursive;
}

img {
    /* display: block;
    margin: 0 auto; */
    border-width: 5px; 
    border-color: white;
    border-style: solid;

}

.fa{
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}

.fa-instagram{
    background: #125688;
    color: white;
}

ul li{
    width: 300px;
    margin: auto;
    background-color: #d5f4e6;
    padding: 0 20px 20px 20px;
    border: 5px solid gray;
    text-align: left;
    list-style-type: circle;

}

ol li{
    width: 500px;
    margin: auto;
    background-color: #fefbd8;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    text-align: left;
    list-style-type: lower-alpha;

}

section{
    padding: 25px;
    margin: 25px;
    border: 10px solid gray;
    background-color: #9dead7;
}

section h1{
    color: #117772;
}

a:hover{
    background-color: yellow;
}

div{
    overflow: hidden;
}
